<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        #table{
            margin-top: 10px;
        }
        #table th, td{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>URL Shortener</h1>
    <% if (locals.id) { %>
        <p>Short URL Generated:- http://localhost:5700/url/<%= id %>
        </p>
    <% } %>
    <div>
        <form method="post" action="/url">
            <label for="">Enter Your Original URL:</label>
            <input type="text" name="url" placeholder="https://example.com">
            <button type="submit">Generate</button>
        </form>
    </div>

    <% if (locals.url) { %>
        <table id="table">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Short ID</th>
                    <th>Redirect URL</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% url.forEach((element,index)=> { %>
                    <tr>
                        <td>
                            <%= index+1 %>
                        </td>
                        <td>
                            <%= element.shortId %>
                        </td>
                        <td>
                            <%= element.redirectURL %>
                        </td>
                        <td>
                            <%= element.visitHistory.length %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
</body>


</html>